.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.log{
    width: 200px;
}
.nav-items{
    padding: 0px 20px;
}
.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}
.nav-items>ul>li{
    padding: 10px;
    margin: 9px;

}

.res-card{
    padding: 5px;
    width: 200px;
    height: 300px;    
}
.res-container{
        display: flex;
    flex-wrap: wrap;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.search{
    padding: 10px;
    margin: 5px;
}
.res-logo{
    width:100%;
}

